$cards: 8;

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  margin-bottom: 51px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  &__container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-top: 3px;
  }
}

.header-navbar {
  &__list {
    min-width: 750px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 22.5px 0;
    font-size: 1rem;
    line-height: 14px;
    transition: color 0.3s;

    &:hover {
      color: #00acdc;
    }
    &.is-active {
      color: #00acdc;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 37px;
        height: 4px;
        background-color: #00acdc;
      }
    }
  }
}

@media (max-width: 1025px) {
  .header__container {
    max-width: 924px;
    flex-wrap: wrap;
  }
}

.main__container {
  display: grid;
  grid-template-areas: "b1 b2 b3 b4" "b5 b6 b7 b8";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 944px;
  margin: 0 auto;
}

.product-card {
  box-sizing: border-box;
  height: 403px;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-bottom: 49px;
  margin-right: 48px;
  padding: 0 14px;

  &:nth-child(4n+4) {
    margin-right: 0;
  }

  &__image {
    display: block;
    min-height: 134px;
    max-width: 160px;
    margin: 15px auto 30px;
    padding: 12px 0;
    border: 3px solid transparent;
    transition: transform 1s ease-in-out;

    &:hover {
      border-color: #f3f3f3;
      transform: scale(1.2);
    }
  }

  &__text {
    margin: 0 auto 6px;
    max-width: 170px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__code {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    max-width: 170px;
    margin: 0 auto 14px;
  }

  &__reviews {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 1px;
    display: block;
  }

  &__stars {
    display: flex;
    max-width: 170px;
    margin: 0 auto 19px;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    border: 1px solid #00acdc;
    background: #00acdc;
    border-radius: 5px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    margin: 0 auto;
    max-width: 170px ;
    color: white;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: white;
      color: #00acdc;
    }
  }

  &__price {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    max-width: 170px;
    margin: 0 auto 20px;
  }

  &__price--title {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }

  &__price--sum {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
  }

}

.stars--4 div:nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

.block {
  display: flex;
  &__stars {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@for $i from 1 to $cards {
  .product-card--#{$i} {
    grid-area: b#{$i};

  }
}
