html {
  font-family: "Roboto", sans-serif;
  font-size: 12px; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

.header {
  margin-bottom: 51px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    margin-top: 3px; }

.header-navbar__list {
  min-width: 750px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-navbar__item {
  margin-right: 20px;
  position: relative; }
  .header-navbar__item:last-of-type {
    margin-right: 0; }

.header-navbar__link {
  display: block;
  padding: 22.5px 0;
  font-size: 1rem;
  line-height: 14px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .header-navbar__link:hover {
    color: #00acdc; }
  .header-navbar__link.is-active {
    color: #00acdc; }
    .header-navbar__link.is-active::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 37px;
      height: 4px;
      background-color: #00acdc; }

@media (max-width: 1025px) {
  .header__container {
    max-width: 924px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.main__container {
  display: grid;
  grid-template-areas: "b1 b2 b3 b4" "b5 b6 b7 b8";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 944px;
  margin: 0 auto; }

.product-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 403px;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-bottom: 49px;
  margin-right: 48px;
  padding: 0 14px; }
  .product-card:nth-child(4n+4) {
    margin-right: 0; }
  .product-card__image {
    display: block;
    min-height: 134px;
    max-width: 160px;
    margin: 15px auto 30px;
    padding: 12px 0;
    border: 3px solid transparent;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
    .product-card__image:hover {
      border-color: #f3f3f3;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .product-card__text {
    margin: 0 auto 6px;
    max-width: 170px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .product-card__code {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    max-width: 170px;
    margin: 0 auto 14px; }
  .product-card__reviews {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 1px;
    display: block; }
  .product-card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 170px;
    margin: 0 auto 19px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .product-card__button {
    border: 1px solid #00acdc;
    background: #00acdc;
    border-radius: 5px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    margin: 0 auto;
    max-width: 170px;
    color: white;
    text-align: center;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    .product-card__button:hover {
      background-color: white;
      color: #00acdc; }
  .product-card__price {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 170px;
    margin: 0 auto 20px; }
  .product-card__price--title {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0; }
  .product-card__price--sum {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0; }

.stars--4 div:nth-child(-n+4) {
  background-image: url(../images/star-active.svg); }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .block__stars {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center; }

.product-card--1 {
  grid-area: b1; }

.product-card--2 {
  grid-area: b2; }

.product-card--3 {
  grid-area: b3; }

.product-card--4 {
  grid-area: b4; }

.product-card--5 {
  grid-area: b5; }

.product-card--6 {
  grid-area: b6; }

.product-card--7 {
  grid-area: b7; }

/*# sourceMappingURL=main.css.map */
